.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__tBFe {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__tBFe > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__tBFe > :global(.__wab_flex-container) > *,
.freeBox__tBFe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tBFe > :global(.__wab_flex-container) > picture > img,
.freeBox__tBFe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tBFe {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tBFe > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tBFe > :global(.__wab_flex-container) > *,
  .freeBox__tBFe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tBFe > :global(.__wab_flex-container) > picture > img,
  .freeBox__tBFe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__gqKiG {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__gqKiG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gqKiG > :global(.__wab_flex-container) > *,
.freeBox__gqKiG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gqKiG > :global(.__wab_flex-container) > picture > img,
.freeBox__gqKiG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__upCos {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__upCos > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__upCos > :global(.__wab_flex-container) > *,
.freeBox__upCos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__upCos > :global(.__wab_flex-container) > picture > img,
.freeBox__upCos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eqwRf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__eqwRf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eqwRf > :global(.__wab_flex-container) > *,
.freeBox__eqwRf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eqwRf > :global(.__wab_flex-container) > picture > img,
.freeBox__eqwRf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__y3JqG {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-YOt516sEAOWiOj);
  flex-shrink: 0;
}
.svg__o1Bq4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-YOt516sEAOWiOj);
  flex-shrink: 0;
}
.svg__pKrJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-YOt516sEAOWiOj);
  flex-shrink: 0;
}
.freeBox__bTVyr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__bTVyr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bTVyr > :global(.__wab_flex-container) > *,
.freeBox__bTVyr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bTVyr > :global(.__wab_flex-container) > picture > img,
.freeBox__bTVyr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___8F9K8 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-YOt516sEAOWiOj);
  height: auto;
}
.button__bze32:global(.__wab_instance) {
  position: relative;
}
.svg__e3EU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___87BmE {
  height: auto;
}
.svg__zvdzD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dawXo:global(.__wab_instance) {
  position: relative;
}
.svg__bbOty {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__u7Bjy {
  height: auto;
}
.svg___1CHtp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__pwkGe:global(.__wab_instance) {
  position: relative;
}
.svg__qvOlU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pnPOp {
  height: auto;
}
.svg__bqk6I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__z9KJv:global(.__wab_instance) {
  position: relative;
}
.svg__c4JPt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___40Pwt {
  height: auto;
}
.svg__nbPJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___4RbwD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___4RbwD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4RbwD > :global(.__wab_flex-container) > *,
.freeBox___4RbwD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4RbwD > :global(.__wab_flex-container) > picture > img,
.freeBox___4RbwD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__xlvMe {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-YOt516sEAOWiOj);
  height: auto;
}
.button__yM0Bb:global(.__wab_instance) {
  position: relative;
}
.svg__cjAz7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fvRic {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__igryh:global(.__wab_instance) {
  position: relative;
}
.svg__pFomn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ijwxc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___2274W:global(.__wab_instance) {
  position: relative;
}
.svg__tPzs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fj4Ya {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ajqr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__ajqr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ajqr > :global(.__wab_flex-container) > *,
.freeBox__ajqr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ajqr > :global(.__wab_flex-container) > picture > img,
.freeBox__ajqr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___6Th6D {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-YOt516sEAOWiOj);
  height: auto;
}
.button___20Hyz:global(.__wab_instance) {
  position: relative;
}
.svg__wM6XD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5TmQn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__n3C1W:global(.__wab_instance) {
  position: relative;
}
.svg__kRcoR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3K71M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__de0I4:global(.__wab_instance) {
  position: relative;
}
.svg__bCeV4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yEcFg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___37Wb5:global(.__wab_instance) {
  position: relative;
}
.svg___4PogP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sIzTi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
