.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___8ZOmx {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___8ZOmx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___8ZOmx > :global(.__wab_flex-container) > *,
.freeBox___8ZOmx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ZOmx > :global(.__wab_flex-container) > picture > img,
.freeBox___8ZOmx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZOmx {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ghy5 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__vMRa {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__pud9Y:global(.__wab_instance) {
  position: relative;
}
.img___8UThr {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___8UThr > picture > img {
  object-fit: cover;
}
.img___8UThr > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__joKqA:global(.__wab_instance) {
  position: relative;
}
.img__wuRha {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__wuRha > picture > img {
  object-fit: cover;
}
.img__wuRha > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__olDzX:global(.__wab_instance) {
  position: relative;
}
.img__jQ5Bl {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__jQ5Bl > picture > img {
  object-fit: cover;
}
.img__jQ5Bl > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__c9JLy:global(.__wab_instance) {
  position: relative;
}
.img__t05Jr {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__t05Jr > picture > img {
  object-fit: cover;
}
.img__t05Jr > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-XA3O878TPhMjwx);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__qlIaj {
  flex-direction: column;
  display: flex;
}
.freeBox__qlIaj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qlIaj > :global(.__wab_flex-container) > *,
.freeBox__qlIaj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qlIaj > :global(.__wab_flex-container) > picture > img,
.freeBox__qlIaj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vWdVi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__xe96W {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox___1OVcm {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox___1OVcm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___1OVcm > :global(.__wab_flex-container) > *,
.freeBox___1OVcm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1OVcm > :global(.__wab_flex-container) > picture > img,
.freeBox___1OVcm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__tEiem {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hz4Ul:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nRmao {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kgWQ7mmkRy-UR0);
  width: 28px;
  height: 28px;
}
.text___2E2Mm {
  padding-left: 0px;
}
.column__gvUt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___0YjS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fBbi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kgWQ7mmkRy-UR0);
  width: 28px;
  height: 28px;
}
.text__wQs2X {
  padding-left: 0px;
}
.column__wAkVs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__aB1U9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xEmJa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kgWQ7mmkRy-UR0);
  width: 28px;
  height: 28px;
}
.text__zlXad {
  padding-left: 0px;
}
.column__jKuMx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__dcu6L:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xkPtG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kgWQ7mmkRy-UR0);
  width: 28px;
  height: 28px;
}
.text__aOrZl {
  padding-left: 0px;
}
.freeBox___9Ao6 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox___9Ao6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___9Ao6 > :global(.__wab_flex-container) > *,
.freeBox___9Ao6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Ao6 > :global(.__wab_flex-container) > picture > img,
.freeBox___9Ao6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Ao6 {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__zRRgz {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__zRRgz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__zRRgz > :global(.__wab_flex-container) > *,
.freeBox__zRRgz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zRRgz > :global(.__wab_flex-container) > picture > img,
.freeBox__zRRgz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__moEwl {
  flex-direction: column;
  display: flex;
}
.freeBox__moEwl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__moEwl > :global(.__wab_flex-container) > *,
.freeBox__moEwl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__moEwl > :global(.__wab_flex-container) > picture > img,
.freeBox__moEwl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jdrk8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__zo24E {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zo24E {
    text-align: center;
  }
}
.text__yOxmj {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___3Xyge {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___3Xyge > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___3Xyge > :global(.__wab_flex-container) > *,
.freeBox___3Xyge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Xyge > :global(.__wab_flex-container) > picture > img,
.freeBox___3Xyge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Xyge {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Xyge > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Xyge > :global(.__wab_flex-container) > *,
  .freeBox___3Xyge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3Xyge > :global(.__wab_flex-container) > picture > img,
  .freeBox___3Xyge
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__bybAr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__pNbFi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jjAc8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7Hd1F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__cnLAo {
  height: auto;
}
.priceCard__wb5QM:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___19XaY {
  color: var(--token-9cLG8V6NP68sI-);
}
.valueProp__sMgK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1P1Ph {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yNrVx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lw4Kv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__qbZ4I {
  height: auto;
}
.priceCard__gNs2M:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__viNx7 {
  color: var(--token-9dlaZEN-qMAl5p);
}
.valueProp__m5EpL:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mj6Kf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2XiZl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ngnQc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nvwsc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___5RlQ6 {
  height: auto;
}
.priceCard__cvTc4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qmhdh {
  color: var(--token-yJuNTxIFQeJIx-);
}
.valueProp__zcwtf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ldU4H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__c5H8M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l93Ci {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iSf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__t5Dvh {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
