.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img_50Opaque {
  opacity: 0.5;
}
