.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___8BxQj {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___8BxQj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns___8BxQj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___8BxQj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___8BxQj > :global(.__wab_flex-container) > *,
.columns___8BxQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8BxQj > :global(.__wab_flex-container) > picture > img,
.columns___8BxQj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8BxQj {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8BxQj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8BxQj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8BxQj > :global(.__wab_flex-container) > *,
  .columns___8BxQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8BxQj > :global(.__wab_flex-container) > picture > img,
  .columns___8BxQj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__twfdm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jcZkb {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__jcZkb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jcZkb > :global(.__wab_flex-container) > *,
.freeBox__jcZkb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcZkb > :global(.__wab_flex-container) > picture > img,
.freeBox__jcZkb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lNTs7 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__lNTs7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lNTs7 > :global(.__wab_flex-container) > *,
.freeBox__lNTs7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lNTs7 > :global(.__wab_flex-container) > picture > img,
.freeBox__lNTs7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jHi0P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__otH25 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-YOt516sEAOWiOj);
  background: #ffffff;
  padding: 4px 8px;
}
.text__ki4Sh {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-YNzRFLptiODvjE);
}
.text__fmOqr {
  font-size: 20px;
  color: var(--token-YOt516sEAOWiOj);
  line-height: 28px;
}
.freeBox__cOPct {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__cOPct > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cOPct > :global(.__wab_flex-container) > *,
.freeBox__cOPct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cOPct > :global(.__wab_flex-container) > picture > img,
.freeBox__cOPct
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__stXjN:global(.__wab_instance) {
  position: relative;
}
.svg__wWv11 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rqQtb {
  height: auto;
}
.svg__bWpzm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__kwYCg:global(.__wab_instance) {
  position: relative;
}
.svg__pRzIl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___0KLxF {
  height: auto;
  font-weight: 400;
}
.svg__mXd3Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__ony1V {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__hUiwN {
  flex-direction: column;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  display: flex;
  height: auto;
}
.freeBox__hUiwN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hUiwN > :global(.__wab_flex-container) > *,
.freeBox__hUiwN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hUiwN > :global(.__wab_flex-container) > picture > img,
.freeBox__hUiwN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8AHbq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__l8B4R {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-YNzRFLptiODvjE);
  line-height: 1;
}
.text__prb9 {
  font-size: 20px;
  color: var(--token-YOt516sEAOWiOj);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: var(--token-uO7_04Ly-2H1Qc);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__afexv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__d6UqF {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___6BDcN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oPe1N {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__r2Dk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__evZc3 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__igDrW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zoEmG {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text___5NWqC {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp___2TvkA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eHvOr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__p6UmL {
  height: auto;
}
.valueProp__oEtcs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uzntT {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__lhdfi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f9YIv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___8Czkj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__a2Rkw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__bndCz {
  flex-direction: row;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__bndCz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__bndCz > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__bndCz > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__bndCz > :global(.__wab_flex-container) > *,
.columns__bndCz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bndCz > :global(.__wab_flex-container) > picture > img,
.columns__bndCz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bndCz {
    max-width: var(--token-uO7_04Ly-2H1Qc);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bndCz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bndCz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bndCz > :global(.__wab_flex-container) > *,
  .columns__bndCz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__bndCz > :global(.__wab_flex-container) > picture > img,
  .columns__bndCz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__iozTm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__roWBn {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__roWBn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__roWBn > :global(.__wab_flex-container) > *,
.freeBox__roWBn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__roWBn > :global(.__wab_flex-container) > picture > img,
.freeBox__roWBn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__yXoS4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-FYJdr5SQ2enATr);
}
.h2__xPTyY {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-yYvd5Ol_FGBj97);
  line-height: 1;
}
.text__q3DIc {
  font-size: 20px;
  color: var(--token-H0h3hmLJdgXPH6);
  line-height: 28px;
  height: auto;
}
.button__btaOo:global(.__wab_instance) {
  position: relative;
}
.svg__qa2Ae {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__isPj3 {
  color: var(--token-Zf2Rfu3fjj6Kub);
}
.svg__nrXr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-Zf2Rfu3fjj6Kub);
}
.column___0Gz10 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__e6929 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__zYgev:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__zYgev:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__eag4F {
  color: var(--token-yYvd5Ol_FGBj97);
}
.svg__ausrI {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-FYJdr5SQ2enATr);
}
.listItem___7O7Nr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mcK5 {
  color: var(--token-yYvd5Ol_FGBj97);
}
.svg__zTeRk {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-FYJdr5SQ2enATr);
}
.listItem__biGeA:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jwh5Y {
  height: auto;
  color: var(--token-yYvd5Ol_FGBj97);
}
.svg___4GWvf {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-FYJdr5SQ2enATr);
}
.listItem__xq8Q:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jwhPr {
  height: auto;
  color: var(--token-yYvd5Ol_FGBj97);
}
.svg__eZvw3 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-FYJdr5SQ2enATr);
}
.listItem__f3D9S:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___5X3N {
  height: auto;
  color: var(--token-yYvd5Ol_FGBj97);
}
.svg__kSayb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-FYJdr5SQ2enATr);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__lLy5L {
  flex-direction: column;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__lLy5L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__lLy5L > :global(.__wab_flex-container) > *,
.freeBox__lLy5L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lLy5L > :global(.__wab_flex-container) > picture > img,
.freeBox__lLy5L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLy5L {
    max-width: var(--token-uO7_04Ly-2H1Qc);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLy5L > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLy5L > :global(.__wab_flex-container) > *,
  .freeBox__lLy5L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lLy5L > :global(.__wab_flex-container) > picture > img,
  .freeBox__lLy5L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__gu4EZ {
  flex-direction: column;
  display: flex;
}
.freeBox__gu4EZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gu4EZ > :global(.__wab_flex-container) > *,
.freeBox__gu4EZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gu4EZ > :global(.__wab_flex-container) > picture > img,
.freeBox__gu4EZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__suNpO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__blwOx {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-yYvd5Ol_FGBj97);
  line-height: 1;
}
.text__uRho {
  font-size: 20px;
  color: var(--token-H0h3hmLJdgXPH6);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__u5Gg {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__u5Gg > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__u5Gg > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__u5Gg > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__u5Gg > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5Gg {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5Gg > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5Gg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5Gg > :global(.__wab_flex-container) > *,
  .columns__u5Gg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__u5Gg > :global(.__wab_flex-container) > picture > img,
  .columns__u5Gg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__kpQTg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__e5Id3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__e5Id3:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__rOKhS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5SKpj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ywmAj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___2Ywx {
  height: auto;
}
.column__oWlgZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__cRtss:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__g4Z5R:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uGtm3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xFUc {
  height: auto;
}
.svg__pfwhl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3Jpen {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__jJncP {
  height: auto;
}
.svg___6RFhJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__iEp06 {
  height: auto;
}
.column__pRY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___2VpAh:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___2VpAh:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__pIrW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3ArS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fwlF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ktCe9 {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__h1G1X {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__h1G1X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__h1G1X > :global(.__wab_flex-container) > *,
.freeBox__h1G1X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h1G1X > :global(.__wab_flex-container) > picture > img,
.freeBox__h1G1X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h1G1X {
    position: relative;
  }
}
.text___4Rhl3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-YNzRFLptiODvjE);
  line-height: 1;
  height: auto;
}
.svg___777B9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2KiY4 {
  height: auto;
  width: auto;
}
.svg__qt4Zn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rsUoI {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__rsUoI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rsUoI > :global(.__wab_flex-container) > *,
.freeBox__rsUoI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rsUoI > :global(.__wab_flex-container) > picture > img,
.freeBox__rsUoI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rsUoI {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rsUoI > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rsUoI > :global(.__wab_flex-container) > *,
  .freeBox__rsUoI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rsUoI > :global(.__wab_flex-container) > picture > img,
  .freeBox__rsUoI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__kcHyg {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-YNzRFLptiODvjE);
  line-height: 1;
  height: auto;
}
.svg___1SzpU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xy4Cp {
  height: auto;
  width: auto;
}
.svg___20Rs3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__kudJ6:global(.__wab_instance) {
  position: relative;
}
.text__s5KT9 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-YNzRFLptiODvjE);
  line-height: 1;
  height: auto;
}
.svg__nZxcW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uChii {
  height: auto;
  width: auto;
}
.svg__vh1AU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___25Uo9 {
  flex-direction: row;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox___25Uo9 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___25Uo9 > :global(.__wab_flex-container) > *,
.freeBox___25Uo9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___25Uo9 > :global(.__wab_flex-container) > picture > img,
.freeBox___25Uo9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img___33Jy5 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___33Jy5 > picture > img {
  object-fit: cover;
}
.img___33Jy5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__zgAsw {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__zgAsw > picture > img {
  object-fit: cover;
}
.img__zgAsw > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__z4HAy {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__z4HAy > picture > img {
  object-fit: cover;
}
.img__z4HAy > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__z6YPi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__z6YPi > picture > img {
  object-fit: cover;
}
.img__z6YPi > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fTg9N {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fTg9N > picture > img {
  object-fit: cover;
}
.img__fTg9N > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__w7ITj {
  flex-direction: row;
  max-width: var(--token-uO7_04Ly-2H1Qc);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__w7ITj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__w7ITj > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__w7ITj > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__w7ITj > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__w7ITj > :global(.__wab_flex-container) > *,
.columns__w7ITj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__w7ITj > :global(.__wab_flex-container) > picture > img,
.columns__w7ITj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7ITj {
    max-width: var(--token-uO7_04Ly-2H1Qc);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7ITj > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7ITj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w7ITj > :global(.__wab_flex-container) > *,
  .columns__w7ITj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__w7ITj > :global(.__wab_flex-container) > picture > img,
  .columns__w7ITj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__d1NS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__bodmw:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__eEihf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__jzUdw:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__qejC5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__mknpv:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__mUcK2 {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__ejRn {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ejRn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ejRn > :global(.__wab_flex-container) > *,
.freeBox__ejRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ejRn > :global(.__wab_flex-container) > picture > img,
.freeBox__ejRn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__aXeP3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-yYvd5Ol_FGBj97);
}
.text___0SaP5 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-yYvd5Ol_FGBj97);
  line-height: 1;
}
.text__o8KoV {
  font-size: 20px;
  color: var(--token-H0h3hmLJdgXPH6);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__iBr6J:global(.__wab_instance) {
  position: relative;
}
.svg__yrpR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__crpob {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__c6Ov1:global(.__wab_instance) {
  position: relative;
}
.svg__tdO7K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sz4Ez {
  height: auto;
  font-weight: 400;
}
.svg__tJcQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
